.header__container {
    background-color: rgba(255, 255, 255,.5);
    display: flex;
    /* margin: 10px; */
    padding: 10px 30px;
    border-radius: 6px;
    color: white;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to bottom right, rgba(170, 182, 10, 0.3), rgba(23, 95, 196, 0.3));
    transition: all .5s ease;
    backdrop-filter: blur(8px);
    
}

.header__container:hover {
    background-image: linear-gradient(to bottom right,  rgba(23, 40, 196, 0.3), rgba(170, 182, 10, 0.3));
}

.header__logo {
    font-weight: 700;
    font-size: 40px;
}

.header__links {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
    
}
.header__links li {
    padding-right: 30px;
}