<!-- <p>header works!</p>

<p *ngIf="isAuth">password</p>

<h3>My company name is {{companyName}}</h3>

<input [type]="inputType" name="" id="">

<button (click)="showPass()">show pass</button>

<input type="text" [(ngModel)]="namee" name="" id="">
<h4>name is {{namee | reverse }}</h4> -->


<div class="header__container">
    <div routerLink="/" class="header__logo">
        <!-- Excelr -->E
    </div>

    <div class="header__links">
        <li routerLink="home">Home</li>
        <li routerLink="contact">Contact</li>
        <li>Services</li>

    </div>
</div>